<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">Funny Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <% if user_signed_in? %>
      <span>Welcome <%= current_user.email %></span>
      <a href="/share" class="btn btn-outline-success my-2 my-sm-0 share-video" style="margin: 10px 10px;">Share a movie</a>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0") %>
    <% else %>
      <%= form_for(:user, :url => session_path(:user), class: "form-inline my-2 my-lg-0", method: :post, :html => { :id => "login_or_new"}) do |f| %>
        <div class="row">
          <div class="col">
            <%= f.text_field :email, class: "form-control email", placeholder: "Email", autocomplete: "off" %>
          </div>
          <div class="col">
            <%= f.password_field :password, class: "form-control password", placeholder: "Password", autocomplete: "off" %>
          </div>
          <div class="col">
            <%= f.submit 'Login / Register', class: "btn btn-outline-success my-2 my-sm-0" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>
